<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, World</title>
</head>
<body>
<form action="#"  th:object="${chatmessage}" method="POST" th:action="@{/chat}">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" th:field="*{username}">

    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" name="message" th:field="*{message}">

    <label for="messageType">Message Type: </label>
    <select id="messageType" type="text" name="type" th:field="*{type}">
        <option selected>Say</option>
        <option>Shout</option>
        <option>Whisper</option>
    </select>
    <input type="submit">
</form>
</body>
</html>