<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello, World</title>
</head>
<body>
<form action="#"  th:object="${chatform}" method="POST" th:action="@{/chat}">
    <label for="usernm">Usernm:</label>
    <input id="usernm" type="text" name="usernm" th:field="*{username}">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" name="message" th:field="*{message}">
    <label for="messageType">Message Type: </label>
    <select id="messageType" type="text" name="type" th:field="*{type}">
        <option value="say">Say</option>
        <option value="shout">Shout</option>
        <option value="whisper">Whisper</option>
    </select>
    <input type="submit">
</form>
<td th:each="msg : ${chatexpr}">
<span th:text="${msg.username} + ', ' +${msg.message}"> </span>
</td>
</body>
</html>